<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    <bean name="student" class="Student_AOP" init-method="init" destroy-method="destory"/>-->
    <bean name="student" class="com.IOC.bean.Student" autowire="byName">
<!--        <constructor-arg type="java.lang.String" value="小明"/>-->
<!--        <constructor-arg value="小明" index="0"/>-->
        <constructor-arg value="小明" name="name"/>
        <constructor-arg value="18" index="1"/>

<!--        <property name="name" value="小明"/>-->
<!--        <property name="age" value="23"/>-->
<!--        <property name="card" ref="card"/>-->
<!--        <property name="list">-->
<!--            <list>-->
<!--                <value type="double">100.0d</value>-->
<!--                <value type="int">100</value>-->
<!--                <value type="float">123.2f</value>-->
<!--            </list>-->
<!--        </property>-->
<!--        <property name="map">-->
<!--            <map>-->
<!--                <entry key="语文" value="123"></entry>-->
<!--                <entry key="数学" value="100"></entry>-->
<!--            </map>-->
<!--        </property>-->

    </bean>
    <bean name="card" class="com.IOC.bean.Card" />
</beans>